# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxfortran_compilergfortran
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxfortran_compilertoolchain_fort

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "aruK/ntVJWnvUrqBmVOgjP3DaLH1j7jPVIy/tKQr3nl0fAY6GgJumE47G6f6uo+Acq/YkS+nxJ0/PtPZfKSz7cFSdnhhUT81lavFs/TptSkp37kmbLNadgkdd/jtfNAym1N3O8CarvGIdQbMDEujYb7PwtZlBdRuLqt7J0FkRZF/x4+PB4ewoB1czU2XePD+TZOqo8gkgdjRWZKIAFVnvcdPP6eSWvL1SQ5ZHUJoZTJdlbiuejEuqBTbWiQTZvKH7pc9Znz8Ayoq4HaggJ4HdbnJpd+9UUhipoBUgEyoZf+lmBGz3rTCD+E585ajcei8OrNtRJbL660saVwaD8Q64JZiser9xX0qASlyKtC1durtFdjln9Ibu+OAqkYgaX7qJGWFl9EBpeuxO92lSd/qgli+2KeJD8b0E4hO16qz6nIWDxHbkhhy6fR8EKrfiIBVdBMWISOvgjRH5kUvQtdb1xEE52cyaYrPAkrVeY6LbWBsx+cuOSTfnjylB7YRCsA79XpAtTSHjZkIhVIvq/ngoaeG/JRKXGXmp03cu1uFsT1i+O7/SnEwzBeKvDX0etWwNCV4xvxHR2JLaleClmZB1308ML2wmCMTlP8zuq1QLIjyZ8pDpiS0hqE4QhFaa5DV+r5PRjpRkZ/3E10m+py/mIJrRNWec86IxiOh070bLWs="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml